openapi: 3.0.3
info:
  title: Authorization API
  description: 認可サーバーのAPI群です。
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  contact:
    name: API開発チーム
    email: satoshi.nagashiba@gmail.com

servers:
  - url: https://apis.authorization.com
    description: 本番環境
  - url: https://apis-stg.authorization.com
    description: ステージング環境
  - url: https://apis-dev.authorization.com
    description: 開発環境
  - url: https://apis.authorization-php.dev/api
    description: ローカルPHP（Laravel）環境
  - url: https://apis.authorization-go-gin.dev/api
    description: ローカルGo（Gin）環境
  - url: https://apis.authorization-go-beego.dev/api
    description: ローカルGo（Beego）環境
  - url: https://apis.authorization-go-echo.dev/api
    description: ローカルGo（Echo）環境
  - url: https://apis.authorization-kotlin.dev/api
    description: ローカルKotlin（Ktor）環境
  - url: https://apis.authorization-python.dev/api
    description: ローカルPython（FastAPI）環境
  - url: https://apis.authorization-rb-hanami.dev/api
    description: ローカルRuby（Hanami）環境
  - url: https://apis.authorization-rb-rails.dev/api
    description: ローカルRuby（Rails）環境
  - url: https://apis.authorization-rust.dev/api
    description: ローカルRust（Axum）環境
  - url: https://apis.authorization-ts.dev/api
    description: ローカルTypeScript（Hono）環境

paths:
  /auth/login:
    get:
      operationId: getLogin
      summary: ログイン情報を取得します
      tags:
        - auth
      security: []
      responses:
        '200':
          description: 成功時にレスポンスを返します。
        '404':
          description: ログインページが存在しない場合のエラー

  /auth/invitation/{token}:
    get:
      operationId: getInvitation
      summary: 招待URLトークンを検証し、ログイン情報を取得します
      tags:
        - auth
      security: []
      parameters:
        - name: token
          in: path
          required: true
          schema:
            type: string
          description: 招待トークン
      responses:
        '200':
          description: 成功時にレスポンスを返します。
        '404':
          description: ログインページが存在しない場合のエラー
        '500':
          description: 招待トークンが不正な場合のエラー

  /auth/google/redirect:
    servers:
      - url: https://apis.authorization.com
        description: 本番環境
      - url: https://apis-stg.authorization.com
        description: ステージング環境
      - url: https://apis-dev.authorization.com
        description: 開発環境
      - url: https://apis.authorization-php.dev
        description: ローカルPHP（Laravel）環境
      - url: https://apis.authorization-go-gin.dev
        description: ローカルGo（Gin）環境
      - url: https://apis.authorization-go-beego.dev
        description: ローカルGo（Beego）環境
      - url: https://apis.authorization-go-echo.dev
        description: ローカルGo（Echo）環境
      - url: https://apis.authorization-kotlin.dev
        description: ローカルKotlin（Ktor）環境
      - url: https://apis.authorization-python.dev
        description: ローカルPython（FastAPI）環境
      - url: https://apis.authorization-rb-hanami.dev
        description: ローカルRuby（Hanami）環境
      - url: https://apis.authorization-rb-rails.dev
        description: ローカルRuby（Rails）環境
      - url: https://apis.authorization-rust.dev
        description: ローカルRust（Axum）環境
      - url: https://apis.authorization-ts.dev
        description: ローカルTypeScript（Hono）環境
    get:
      operationId: googleRedirect
      summary: Googleログインページへリダイレクトします
      description: ブラウザリダイレクトのため /api 外に配置
      tags:
        - auth
      security: []
      responses:
        '302':
          description: Google 認証ページへリダイレクト
        '400':
          description: リクエストが不正です
        '500':
          description: Googleログインに失敗した場合のエラー

  /auth/google/callback:
    servers:
      - url: https://apis.authorization.com
        description: 本番環境
      - url: https://apis-stg.authorization.com
        description: ステージング環境
      - url: https://apis-dev.authorization.com
        description: 開発環境
      - url: https://apis.authorization-php.dev
        description: ローカルPHP（Laravel）環境
      - url: https://apis.authorization-go-gin.dev
        description: ローカルGo（Gin）環境
      - url: https://apis.authorization-go-beego.dev
        description: ローカルGo（Beego）環境
      - url: https://apis.authorization-go-echo.dev
        description: ローカルGo（Echo）環境
      - url: https://apis.authorization-kotlin.dev
        description: ローカルKotlin（Ktor）環境
      - url: https://apis.authorization-python.dev
        description: ローカルPython（FastAPI）環境
      - url: https://apis.authorization-rb-hanami.dev
        description: ローカルRuby（Hanami）環境
      - url: https://apis.authorization-rb-rails.dev
        description: ローカルRuby（Rails）環境
      - url: https://apis.authorization-rust.dev
        description: ローカルRust（Axum）環境
      - url: https://apis.authorization-ts.dev
        description: ローカルTypeScript（Hono）環境
    get:
      operationId: googleCallback
      summary: Googleログインからのコールバックを受け取ります
      description: ブラウザリダイレクトのため /api 外に配置
      tags:
        - auth
      security: []
      responses:
        '302':
          description: ログイン成功後フロントエンドへリダイレクト
        '403':
          description: 招待フローで招待トークンが無効な場合
        '500':
          description: Googleログインに失敗した場合のエラー

  /auth/github/redirect:
    servers:
      - url: https://apis.authorization.com
        description: 本番環境
      - url: https://apis-stg.authorization.com
        description: ステージング環境
      - url: https://apis-dev.authorization.com
        description: 開発環境
      - url: https://apis.authorization-php.dev
        description: ローカルPHP（Laravel）環境
      - url: https://apis.authorization-go-gin.dev
        description: ローカルGo（Gin）環境
      - url: https://apis.authorization-go-beego.dev
        description: ローカルGo（Beego）環境
      - url: https://apis.authorization-go-echo.dev
        description: ローカルGo（Echo）環境
      - url: https://apis.authorization-kotlin.dev
        description: ローカルKotlin（Ktor）環境
      - url: https://apis.authorization-python.dev
        description: ローカルPython（FastAPI）環境
      - url: https://apis.authorization-rb-hanami.dev
        description: ローカルRuby（Hanami）環境
      - url: https://apis.authorization-rb-rails.dev
        description: ローカルRuby（Rails）環境
      - url: https://apis.authorization-rust.dev
        description: ローカルRust（Axum）環境
      - url: https://apis.authorization-ts.dev
        description: ローカルTypeScript（Hono）環境
    get:
      operationId: githubRedirect
      summary: GitHubログインページへリダイレクトします
      description: |
        ブラウザリダイレクトのため /api 外に配置。
        state パラメータにバックエンド識別子（例: go-gin）を含め、
        GitHub からのコールバックを正しいバックエンドへ振り分けるために使用する。
      tags:
        - auth
      security: []
      parameters:
        - name: token
          in: query
          required: false
          schema:
            type: string
          description: 招待トークン（招待フロー経由の場合のみ）
      responses:
        '302':
          description: GitHub 認証ページへリダイレクト
        '400':
          description: リクエストが不正です
        '500':
          description: GitHubログインに失敗した場合のエラー

  /auth/github/callback:
    servers:
      - url: https://apis.authorization.com
        description: 本番環境
      - url: https://apis-stg.authorization.com
        description: ステージング環境
      - url: https://apis-dev.authorization.com
        description: 開発環境
      - url: https://apis.authorization-php.dev
        description: ローカルPHP（Laravel）環境
      - url: https://apis.authorization-go-gin.dev
        description: ローカルGo（Gin）環境
      - url: https://apis.authorization-go-beego.dev
        description: ローカルGo（Beego）環境
      - url: https://apis.authorization-go-echo.dev
        description: ローカルGo（Echo）環境
      - url: https://apis.authorization-kotlin.dev
        description: ローカルKotlin（Ktor）環境
      - url: https://apis.authorization-python.dev
        description: ローカルPython（FastAPI）環境
      - url: https://apis.authorization-rb-hanami.dev
        description: ローカルRuby（Hanami）環境
      - url: https://apis.authorization-rb-rails.dev
        description: ローカルRuby（Rails）環境
      - url: https://apis.authorization-rust.dev
        description: ローカルRust（Axum）環境
      - url: https://apis.authorization-ts.dev
        description: ローカルTypeScript（Hono）環境
    get:
      operationId: githubCallback
      summary: GitHubログインからのコールバックを受け取ります
      description: |
        ブラウザリダイレクトのため /api 外に配置。
        GitHub は redirect_uri を1つしか登録できないため、フロントエンドの
        /auth/github/callback（Next.js ディスパッチャー）が state を読み取り、
        /function/{backend}/auth/github/callback へ転送してからこのエンドポイントに到達する。
      tags:
        - auth
      security: []
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
          description: GitHub から発行される認可コード
        - name: state
          in: query
          required: true
          schema:
            type: string
          description: "バックエンド識別子（例: go-gin）。ディスパッチャーがルーティングに使用する"
      responses:
        '302':
          description: ログイン成功後フロントエンドへリダイレクト
        '403':
          description: 招待フローで招待トークンが無効な場合
        '500':
          description: GitHubログインに失敗した場合のエラー

  /auth/me:
    get:
      operationId: getMe
      summary: 自分自身のプロフィールを取得します
      description: staff_id クッキーで認証済みのユーザー情報を返します。ログイン判定・ヘッダー表示などに使用します。
      tags:
        - auth
      security: []
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthMe'
        '401':
          description: 未認証（staff_id クッキーなし、または復号失敗）
        '404':
          description: スタッフが存在しない

  /auth/logout:
    get:
      operationId: logout
      summary: ログアウトします
      tags:
        - auth
      security: []
      responses:
        '200':
          description: 成功時にレスポンスを返します。
        '401':
          description: 未認証
        '500':
          description: ログアウトに失敗した場合のエラー

  /clients:
    get:
      operationId: listClients
      summary: クライアント一覧
      tags:
        - clients
      security: []
      parameters:
        - name: keyword
          in: query
          required: false
          description: キーワード
          schema:
            type: string
        - name: start_from
          in: query
          required: false
          description: 利用開始日 From
          schema:
            type: string
            format: date
        - name: start_to
          in: query
          required: false
          description: 利用開始日 To
          schema:
            type: string
            format: date
        - name: statuses
          in: query
          required: false
          description: 状態（複数指定可）
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true
      responses:
        '200':
          description: 正常応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Clients'
        '404':
          description: ユーザーが存在しない場合のエラー

  /clients/{id}:
    get:
      operationId: getClient
      summary: クライアント検索
      tags:
        - clients
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: クライアントID
      responses:
        '200':
          description: 正常応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '404':
          description: ユーザーが存在しない場合のエラー

  /clients/store:
    post:
      operationId: createClient
      summary: クライアント登録
      tags:
        - clients
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientCreate'
      responses:
        '200':
          description: 成功時にレスポンスを返します。
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "SUCCESS"
        '400':
          description: リクエストが不正です
        '500':
          description: サーバーエラー

  /clients/{identifier}/qr:
    get:
      operationId: getClientQr
      summary: スマホアプリ連携用QRコードデータを取得します
      description: クライアント登録通知メールのリンクを踏んだ際にフロントエンドから呼び出されます。QRコードに埋め込むディープリンクURLを返します。
      tags:
        - clients
      security: []
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
          description: クライアント識別子
      responses:
        '200':
          description: 正常応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientQr'
        '404':
          description: クライアントが存在しない

  /clients/{identifier}/info:
    get:
      operationId: getClientInfo
      summary: スマホアプリ向けクライアント情報取得
      description: QRコードのディープリンク経由でスマホアプリが呼び出します。アクセストークンを含むクライアント情報を返します。
      tags:
        - clients
      security:
        - clientTokenAuth: []
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
          description: クライアント識別子
      responses:
        '200':
          description: 正常応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientMobileInfo'
        '401':
          description: アクセストークンが不正
        '404':
          description: クライアントが存在しない

  /clients/{identifier}/start:
    patch:
      operationId: startClientByApp
      summary: スマホアプリからの利用開始
      description: スマホアプリの操作で利用開始します。管理UIからの操作（PUT /clients/{id}/update）とは別エンドポイントです。
      tags:
        - clients
      security:
        - clientTokenAuth: []
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
          description: クライアント識別子
      responses:
        '200':
          description: 利用開始成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "SUCCESS"
        '401':
          description: アクセストークンが不正
        '404':
          description: クライアントが存在しない
        '409':
          description: 既に利用開始済み

  /clients/{identifier}/stop:
    patch:
      operationId: stopClientByApp
      summary: スマホアプリからの利用停止
      description: スマホアプリの操作で利用停止します。管理UIからの操作（PUT /clients/{id}/update）とは別エンドポイントです。
      tags:
        - clients
      security:
        - clientTokenAuth: []
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
          description: クライアント識別子
      responses:
        '200':
          description: 利用停止成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "SUCCESS"
        '401':
          description: アクセストークンが不正
        '404':
          description: クライアントが存在しない
        '409':
          description: 既に利用停止済み

  /clients/{id}/update:
    put:
      operationId: updateClient
      summary: クライアント変更
      tags:
        - clients
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: クライアントID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientUpdate'
      responses:
        '200':
          description: 成功時にレスポンスを返します。
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "SUCCESS"
        '400':
          description: リクエストが不正です
        '409':
          description: 楽観排他ロック競合（他のリクエストが先に更新済み）
        '500':
          description: サーバーエラー

  /clients/{id}/delete:
    delete:
      operationId: deleteClient
      summary: クライアント削除
      tags:
        - clients
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: クライアントID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - version
              properties:
                version:
                  type: integer
                  format: int64
                  description: 楽観排他ロック用バージョン番号
      responses:
        '200':
          description: 成功時にレスポンスを返します。
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "SUCCESS"
        '404':
          description: ユーザーが存在しない場合のエラー
        '409':
          description: 楽観排他ロック競合（他のリクエストが先に更新済み）

  /staffs:
    get:
      operationId: listStaffs
      summary: スタッフ一覧
      tags:
        - staff
      security: []
      parameters:
        - name: keyword
          in: query
          required: false
          description: キーワード
          schema:
            type: string
        - name: roles
          in: query
          required: false
          description: 権限（複数指定可）
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true
        - name: statuses
          in: query
          required: false
          description: 状態（複数指定可）
          schema:
            type: array
            items:
              type: integer
          style: form
          explode: true
      responses:
        '200':
          description: 正常応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaffList'
        '404':
          description: ユーザーが存在しない場合のエラー

  /staffs/{id}/updateRole:
    patch:
      operationId: updateStaffRole
      summary: 権限を更新します
      tags:
        - staff
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: スタッフID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - role
                - version
                - executor_id
              properties:
                role:
                  type: integer
                  format: int64
                  description: 権限種別（1=管理者、2=メンバー）
                version:
                  type: integer
                  format: int64
                  description: 楽観排他ロック用バージョン番号
                executor_id:
                  type: integer
                  format: int64
                  description: 操作を実行したスタッフID
      responses:
        '200':
          description: 成功時にレスポンスを返します。
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
        '400':
          description: リクエストが不正です
        '404':
          description: スタッフが存在しない場合のエラー
        '409':
          description: 楽観排他ロック競合（他のリクエストが先に更新済み）
        '500':
          description: サーバーエラー

  /staffs/{id}/restore:
    patch:
      operationId: restoreStaff
      summary: スタッフの論理削除を復元します
      tags:
        - staff
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: スタッフID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - executor_id
              properties:
                executor_id:
                  type: integer
                  format: int64
                  description: 操作を実行したスタッフID
      responses:
        '200':
          description: 成功時にレスポンスを返します。
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
        '404':
          description: スタッフが存在しない場合のエラー

  /staffs/{id}/delete:
    delete:
      operationId: deleteStaff
      summary: スタッフを論理削除します
      tags:
        - staff
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
          description: スタッフID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - version
                - executor_id
              properties:
                version:
                  type: integer
                  format: int64
                  description: 楽観排他ロック用バージョン番号
                executor_id:
                  type: integer
                  format: int64
                  description: 操作を実行したスタッフID
      responses:
        '200':
          description: 成功時にレスポンスを返します。
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    format: int64
        '404':
          description: スタッフが存在しない場合のエラー
        '409':
          description: 楽観排他ロック競合（他のリクエストが先に更新済み）

  /admin/invitation:
    get:
      operationId: getAdminInvitation
      summary: 招待URLを取得します
      tags:
        - admin
      security: []
      responses:
        '200':
          description: 成功時にレスポンスを返します。
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: 招待用トークン（ハッシュ）を含むURL
                    example: "7f3a9c2e1b8d4f6a0e5c7b2d9f1a4e8c0d3b6a9f2e5c8d1b4a7f0e3c6d9b2a5f8"
        '404':
          description: スタッフが存在しない場合のエラー

  /admin/invitation/issue:
    get:
      operationId: issueAdminInvitation
      summary: 招待URLを発行します
      tags:
        - admin
      security: []
      responses:
        '200':
          description: 成功時にレスポンスを返します。
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: 招待用トークン（ハッシュ）を含むURL
                    example: "/auth/invitation/7f3a9c2e1b8d4f6a0e5c7b2d9f1a4e8c0d3b6a9f2e5c8d1b4a7f0e3c6d9b2a5f8"
        '401':
          description: 未認証
        '500':
          description: サーバーエラー

  /gate/issue:
    get:
      operationId: issueGate
      summary: JWTを発行する
      tags:
        - gate
      description: クライアントに対してJWTを発行します。
      security:
        - bearerAuth: []    # アクセストークン
      parameters:
        - name: member
          in: query
          required: true
          schema:
            type: string
          description: クライアント会員ID
      responses:
        '200':
          description: 成功時にレスポンスを返します。
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "SUCCESS"
        '400':
          description: リクエストが不正です
        '500':
          description: サーバーエラー

  /gate/client/{identifier}/verify:
    get:
      operationId: verifyGate
      summary: JWTを検証する
      tags:
        - gate
      security:
        - bearerAuth: []
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
          description: クライアント識別名

        - name: token
          in: query
          required: true
          schema:
            type: string
          description: クライアント識別名
      responses:
        '200':
          description: 成功時にレスポンスを返します。
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payload'
        '400':
          description: リクエストが不正です
        '404':
          description: JWTが見つかりませんでした。
        '500':
          description: サーバーエラー

  /notifications:
    get:
      operationId: listNotifications
      summary: 通知一覧（メタデータ含む）
      description: |
        通知の一覧を返す。各アイテムにメタデータを含む。
        cursor ベースのページネーションを採用する。
      tags:
        - notifications
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
          description: 次ページ取得用の不透明カーソル（初回は省略可）
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          description: 1ページあたりの件数
      responses:
        '200':
          description: 正常応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'
        '401':
          description: 未認証
        '500':
          description: サーバーエラー

    patch:
      operationId: readAllNotifications
      summary: 全通知を既読にする
      description: |
        ログイン中スタッフの全通知を一括で既読にする。
      tags:
        - notifications
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 更新成功
        '401':
          description: 未認証
        '500':
          description: サーバーエラー

  /notifications/counts:
    get:
      operationId: getNotificationCounts
      summary: 未読・全件などのサマリー
      description: |
        未読件数・全件数など、通知まわりの集計を返す。
        複数種類のカウントを一度に返す。
      tags:
        - notifications
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 正常応答
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationCounts'
        '401':
          description: 未認証
        '500':
          description: サーバーエラー

  /notifications/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: 通知 ID

    patch:
      operationId: readNotification
      summary: 通知を既読にする
      description: |
        1件の通知を既読にする。
      tags:
        - notifications
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 更新成功
        '400':
          description: リクエストが不正
        '401':
          description: 未認証
        '404':
          description: 通知が存在しない
        '500':
          description: サーバーエラー

components:
  schemas:
    AuthMe:
      type: object
      description: ログイン中スタッフのプロフィール情報
      required:
        - staff_id
        - name
      properties:
        staff_id:
          type: integer
          format: int64
          description: スタッフID
          example: 1
        name:
          type: string
          description: 表示名
          example: "長柴聡史"
        avatar:
          type: string
          nullable: true
          description: アバター画像URL（未設定時は null）
          example: "https://lh3.googleusercontent.com/a/example"

    ClientQr:
      type: object
      description: スマホアプリ連携用QRコードデータ
      required:
        - identifier
        - deeplink_url
      properties:
        identifier:
          type: string
          description: クライアント識別子
          example: "6823f4a1c9d2e"
        deeplink_url:
          type: string
          description: QRコードに埋め込むディープリンクURL
          example: "https://app.authorization.com/clients/6823f4a1c9d2e"

    ClientMobileInfo:
      type: object
      description: スマホアプリ向けクライアント情報
      required:
        - identifier
        - name
        - access_token
        - status
      properties:
        identifier:
          type: string
          example: "6823f4a1c9d2e"
        name:
          type: string
          example: "株式会社モックデータ商事"
        access_token:
          type: string
          description: アクセストークン
          example: "a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4e5f6a1b2"
        status:
          type: integer
          description: 状態コード（1=利用中、2=停止中）
          example: 1

    ClientCreate:
      type: object
      description: クライアント登録情報を表すオブジェクトです。
      required:
        - name
        - post_code
        - pref
        - city
        - address
        - tel
        - email
      properties:
        name:
          type: string
          example: "株式会社モックデータ商事"
        post_code:
          type: string
          example: "1234567"
        pref:
          type: string
          example: "東京都"
        city:
          type: string
          example: "架空市中央区みなみ町"
        address:
          type: string
          example: "1丁目2番3号"
        building:
          type: string
          example: "サンプルプラザ東館"
        tel:
          type: string
          example: "0312345678"
        email:
          type: string
          example: "satoshi.nagashiba@gmail.com"

    ClientUpdate:
      type: object
      description: クライアント更新情報（対象 ID はパス /clients/{id}/update で指定。サーバではルートとボディをマージします）。
      required:
        - version
      properties:
        name:
          type: string
        identifier:
          type: string
        post_code:
          type: string
        pref:
          type: string
        city:
          type: string
        address:
          type: string
        building:
          type: string
          nullable: true
        tel:
          type: string
        email:
          type: string
          format: email
        status:
          type: integer
        version:
          type: integer
          format: int64
          description: 楽観排他ロック用バージョン番号

    Client:
      type: object
      description: クライアント情報を表すオブジェクトです。
      required:
        - id
        - name
        - identifier
        - post_code
        - pref
        - city
        - address
        - tel
        - email
        - status
        - created_at
        - updated_at
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          example: "株式会社モックデータ商事"
        identifier:
          type: string
          example: "mock"
        post_code:
          type: string
          example: "1234567"
        pref:
          type: string
          example: "東京都"
        city:
          type: string
          example: "架空市中央区みなみ町"
        address:
          type: string
          example: "1丁目2番3号"
        building:
          type: string
          example: "サンプルプラザ東館"
        tel:
          type: string
          example: "0312345678"
        email:
          type: string
          example: "satoshi.nagashiba@gmail.com"
        status:
          type: integer
          example: 1
        start_at:
          type: string
          format: date-time
          example: "2025-11-01T10:00:00Z"
        stop_at:
          type: string
          format: date-time
          example: "2025-11-01T10:00:00Z"
        created_at:
          type: string
          format: date-time
          example: "2025-11-01T10:00:00Z"
        updated_at:
          type: string
          format: date-time
          example: "2025-11-01T10:00:00Z"
        version:
          type: integer
          format: int64
          description: 楽観排他ロック用バージョン番号
          example: 1

    Clients:
      type: array
      description: クライアントのリストです。
      items:
        $ref: '#/components/schemas/Client'

    Staff:
      type: object
      description: スタッフ一覧の1行です。
      required:
        - id
        - name
        - email
        - role
        - status
        - created_at
        - updated_at
      properties:
        id:
          type: integer
          format: int64
          example: 1
        name:
          type: string
          description: 表示名
          example: "山田 太郎"
        email:
          type: string
          format: email
          example: "yamada@example.com"
        role:
          type: integer
          description: 権限コード（1=管理者、2=メンバー）
          example: 1
        status:
          type: integer
          description: 状態コード（1=有効、0=無効。deleted_at の有無で算出）
          example: 1
        created_at:
          type: string
          description: 登録日時（Y-m-d H:i 形式）
          example: "2026-01-15 09:30"
        updated_at:
          type: string
          description: 更新日時（Y-m-d H:i 形式）
          example: "2026-01-20 10:00"
        version:
          type: integer
          format: int64
          description: 楽観排他ロック用バージョン番号
          example: 1

    StaffList:
      type: object
      description: スタッフ一覧レスポンス
      required:
        - items
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Staff'

    Payload:
      type: object
      description: JWTのPayload情報を表すオブジェクトです。
      required:
        - iss
        - sub
        - aud
        - exp
        - iat
        - nbf
        - jti
      properties:
        iss:
          type: string
          description: 固定値
          example: "sii-auth"
        sub:
          type: string
          description: クライアント会員番号（半角英数字）
          example: "A123456789"
        aud:
          type: string
          description: クライアント識別名
          example: ":identifier"
        exp:
          type: integer
          format: int64
          description: UNIXタイムスタンプ（秒単位）
          example: 1560000000
        iat:
          type: integer
          format: int64
          description: UNIXタイムスタンプ（秒単位）
          example: 1560000000
        nbf:
          type: integer
          format: int64
          description: UNIXタイムスタンプ（秒単位）
          example: 1560000000
        jti:
          type: string
          format: uuid
          description: JWTを発行するたびに割り振られる重複しないID（UUID v4）
          example: "f55a406c-8d3c-4306-836f-5cc0d508a07f"

    Notification:
      type: object
      description: 通知1件
      required:
        - id
        - title
        - message_type
        - read
        - created_at
      properties:
        id:
          type: integer
          format: int64
          example: 1
        staff_id:
          type: integer
          format: int64
          example: 1
        message_type:
          type: integer
          description: "1=info / 2=warn / 3=ok"
          example: 1
        title:
          type: string
          example: "新しいクライアントが登録されました"
        message:
          type: string
          example: "株式会社サンプル"
        url:
          type: string
          nullable: true
          description: 遷移先の相対URL。nullの場合はリンクなし
          example: "/clients/show?id=21"
        read:
          type: boolean
          example: false
        created_at:
          type: string
          format: date-time
          example: "2026-01-01T10:00:00+09:00"
        updated_at:
          type: string
          format: date-time
          example: "2026-01-01T10:00:00+09:00"

    NotificationListResponse:
      type: object
      description: cursor ページネーション付き一覧
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Notification'
        next_cursor:
          type: string
          nullable: true
          description: 次ページがなければ null

    NotificationCounts:
      type: object
      description: 複数種類のカウントを一度に返す
      additionalProperties:
        type: integer
        format: int64
      example:
        unread: 3
        total: 42

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    clientTokenAuth:
      type: http
      scheme: bearer
      description: クライアントのアクセストークン認証（JWT ではなく登録時に発行される固定トークン）

tags:
  - name: auth
    description: 認証API
  - name: clients
    description: クライアントAPI
  - name: staff
    description: スタッフAPI
  - name: gate
    description: 認可API
  - name: notifications
    description: 通知API
  - name: admin
    description: 管理API
