/local/common/proxy/certs/default.crt
/local/common/proxy/certs/default.key
/local/common/data/
/local/common/logs/
/local/auth-go-gin/logs/
/local/auth-kotlin/logs/
/local/auth-php/logs/
/local/auth-python/logs/
/local/auth-rb-hanami/logs/
/local/auth-rb-rails/logs/
/local/auth-rust/logs/
/local/auth-ts/logs/
/local/auth-go-echo/logs/
/local/auth-go-beego/logs/
