# APP名
APP_NAME=auth-rb-hanami

# サーバー名
SERVER_NAME=apis.authorization-rb-hanami.dev

# Nginx
NGINX_CONTAINER=auth-rb-hanami_nginx
NGINX_HTTP_PORT=80
APP_PATH=rb-hanami:2300

# Let's Encrypt
LETSENCRYPT_EMAIL=satoshi.nagashiba@gmail.com

# Ruby（Hanami）
RB_HANAMI_CONTAINER=auth-rb-hanami_rb-hanami
RB_HANAMI_DEBUG_PORT=1235
