APP_ENV=local
APP_PORT=3000
FRONTEND_URL=http://localhost:3000
STAFF_COOKIE_LIFETIME=60
NOTIFICATION_DEFAULT_LIMIT=10
CACHE_PREFIX=Authorization Gateway
DB_HOST=host.docker.internal
DB_PORT=3306
DB_DATABASE=authorization
DB_USERNAME=develop
DB_PASSWORD="docker#DOCKER1234"
REDIS_HOST=host.docker.internal
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
GOOGLE_CLIENT_ID=your-client-id
GOOGLE_CLIENT_SECRET=your-client-secret
GOOGLE_REDIRECT_URL=http://localhost:3000/function/ts/auth/google/callback
GATE_JWT_CACHE_TTL=1800
