# Nginx Proxy
NGINX_CONTAINER=auth-proxy
NGINX_HTTPS_PORT=443

# Let's Encrypt
LETS_ENCRYPT_CONTAINER=auth-letsencrypt

# MySQL
MYSQL_CONTAINER=auth-mysql
MYSQL_DATABASE=authorization
MYSQL_USER=develop
MYSQL_PASSWORD="docker#DOCKER1234"
MYSQL_ROOT_PASSWORD="docker#DOCKER1234"
MYSQL_TZ=Asia/Tokyo
MYSQL_PORT=3306

# Redis
REDIS_CONTAINER=auth-redis
REDIS_PORT=6379

# MailPit
MAILPIT_CONTAINER=auth-mailpit
MAILPIT_SMTP_PORT=1025
MAILPIT_UI_PORT=8025

# RedisInsight
REDIS_INSIGHT_CONTAINER=auth-redisinsight
REDIS_INSIGHT_PORT=8001

# Lambda
LAMBDA_PORT=9000
